{% extends 'money/base.html' %}

{% block content %}

<h1 class="mb-3">Add Transaction Types</h1>

<form action="{% url 'transactionTypes' %}" method="POST">
    {% csrf_token %}
     <div class="form-outline mb-4">
        <input type="text" class="form-control form-control-lg" name="txn_type" required />
        <label class="form-label" for="formControlLg">Transaction Type *</label>
    </div>

    <div class="mb-4">
        Type: <select class="custom-select px-2" name="isAnExpense" required>
            <option value="income">Income</option>
            <option value="expense" selected>Expense</option>
        </select>
    
    </div>

    <input type="submit" value="Add Transaction Type" class="btn btn-outline-dark btn-lg"> 

</form>

{% endblock content %}